@page
@model GuideModel
@{
}
<div class="userGuideContainer">
    <section class="userGuideSection">
        <h1>Hvordan bruger man Ragnarock-guide app?</h1>
        <hr />
        <p class="boldAndStrong">1. Opret en Brugerkonto:</p>
        <p>
            <ul>Gå til hjemmesiden og klik på "Opret Brugerkonto" for at oprette en ny brugerkonto.</ul>
            <ul>Indtast dine personlige oplysninger som navn, e-mail og adgangskode.</ul>
        </p>

        <p class="boldAndStrong">2. Log ind på din konto</p>
        <p>
            <ul>Efter oprettelse af din brugerkonto skal du logge ind ved at indtaste dine brugeroplysninger (e-mail og adgangskode) på hjemmesiden.</ul>
            <ul>Indtast dine personlige oplysninger som navn, e-mail og adgangskode.</ul>
        </p>

        <p class="boldAndStrong">3. Vælg Udstilling</p>
        <p>
            <ul>Vælg udstilling, finde den etage du er på og klik på etage 2 eller etage 3.</ul>
            <ul>Brug planbilledet til at identificere den udstilling du gerne vil afspille - find dens nummerudstilling.</ul>
        </p>

        <p class="boldAndStrong">4. Start Episoden</p>
        <p>
            <ul>Når du har valgt en udstilling, skal du klikke på afspilningsknappen for at begynde.</ul>
            <ul>Du kan pause og stoppe episoden som du har lyst.</ul>
        </p>

        <p class="boldAndStrong">5. Find Ny episode</p>
        <p>
            <ul>Gentag ovenstående procedure, når du vil have ekstra information om en anden udstilling</ul>
        </p>
    </section>
</div>