@page
@model IndexModel
@{
    ViewData["Title"] = "Forside";
}
<div id="FrontPageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        @for (int i = 0; i < 4; i++)
        {
            if (i == 0)
            {
                <div class="carousel-item active frontPageCarouselItem">
                    <img src="/FrontPageImages/RagnarockEntrance1.jpg" class="d-block w-100 frontPageCarouselImage" alt="Ragnarock>
                </div>
            }
            else
            {
                <div class="carousel-item frontPageCarouselItem">
                    <img src="/exhibitionPhotos/@Model.Exhibitions[i].PhotoFileName" class="d-block w-100 frontPageCarouselImage" alt="@Model.Exhibitions[i].Title">
                </div>

            }
        }
    </div>
</div>