@page
@model IndexModel
@{
    ViewData["Title"] = "Forside";
}
<div class="frontPageCarouselItem">
    <img src="/FrontPageImages/RagnarockEntrance1.jpg" class="d-block w-100 frontPageCarouselImage" alt="Ragnarock">
</div>

<article class="frontPageArticle">
    <div class="frontPageMainHeading">
        <h1 class="frontPageLytMedH1"><strong>Ragnarocks Audio Guide</strong></h1>
        <h2 class="frontPageLytMedH2">Få en guide til Ragnarock museet, som du kan lytte til i dit eget tempo.</h2>
        <a class="hr-frontPage"></a>
        <a class=" frontPageLytMedp" asp-page="/Guide">
            <h3 class="frontPageLytMedp">
                Se hvordan
            </h3>
        </a>
    </div>
</article>