@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

@*Må ikke slette denne div*@
<div class="container">
    <h1>@ViewData["Title"]</h1>
        <body>
        <p>Use this page to detail your site's privacy policy.</p>
        <p>All data is liable to be collected and stored for nefarious purposes. Such purposes may include, surveilance and personality analysis.</p>
        </body>
    
</div>