<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kojg_Ragnarock_Guide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loginAndRegister.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/guide.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/frontpage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/floor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cookiePage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/adminpage.css" asp-append-version="true" />


    <link rel="icon" type="image/x-icon" href="~/favicon.ico">


</head>
<body>
    <header>
        <nav class="navBar42" id="NavBar42ID">
            <div class="navParentGrid">
                <div class="navChildGrid">
                    <div class="navChildContent">
                        <a class="active" asp-page="/Index">
                            <img class="ragnarockIcon" src="\FrontPageImages\Ragnarock.webp" alt="Ragnarock Icon" />
                        </a>
                    </div>
                    <div class="navChildContent">
                        <a class="active navbarText" asp-page="/Guide">Brugerguide</a>
                    </div>
                    <div class="navChildContent">
                        <li class="dropDown navbarText">
                            <a class="dropBtn">Udstillinger</a>
                            <div class="dropdown-content">
                                <a class="active" href="/Exhibitions/Floor?FilterCriteria=2">Etage 2</a>
                                <a class="active" href="/Exhibitions/Floor?FilterCriteria=3">Etage 3</a>
                            </div>
                        </li>
                    </div>
                    <div class="navChildContent">
                        <li class="dropDown navbarText">
                            <partial name="_LoginPartial" />
                        </li>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!--Hvilken funktion har nedenstående?-->
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <div class="backToTopContainer">
            <a class="backToTopButton" href="#NavBar42ID"><span>Til toppen</span></a>
        </div>
        <section>
            <div class="footer-grid-container">
                <div>
                    <p class="boldAndStrong">ADRESSE</p>
                    <p>RAGNAROCK</p>
                    <p>Museet for pop, rock og ungdomskultur</p>
                    <p>Rabalderstræde 16, Musicon </p>
                    <p>4000 Roskilde</p>
                    <p>CVR. NR: 15570210</p>
                </div>
                <div>
                    <p class="boldAndStrong">KONTAKT OS</p>
                    <p>Administration:</p>
                    <p>+45 4631 6854</p>
                    <p>ragnarock@romu.dk</p>
                    <p>Man-fre: 09:00-15:00</p>
                    <p>
                        <a style="color: #b0790b" href="https://museumragnarock.dk/om-ragnarock/" target="blank">Find medarbejdere her</a>
                    </p>
                </div>
                <div>
                    <p class="boldAndStrong">ÅBNINGSTIDER</p>
                    <p class="bold">2/1/2024 – 30/6/2024:</p>
                    <p>Tirsdag – søndag, samt helligdage: 10.00-17.00</p>
                    <p>Onsdag: 10.00-20.00</p>
                    <p>Tillige mandage i uge 7, 8 og 13</p>
                    <p class="bold">1/7/2024 – 11/8/2024</p>
                    <p>Mandag – søndag, samt helligdage: 10.00-17.00</p>
                    <p>Onsdag: 10.00-20.00</p>
                    <p class="bold">12/8/2024 – 22/12/2024</p>
                    <p>Tirsdag – søndag, samt helligdage: 10.00-17.00</p>
                    <p>Onsdag: 10.00-20.00 </p>
                    <p>Tillige mandag i uge 42</p>
                </div>
                <div>
                    <p class="boldAndStrong">ENTRE</p>
                    <p>Voksne: 120 kr.</p>
                    <p>Grupperabat(min/15 pers.): 105 kr. pr. pers.</p>
                    <p>0-17 år : Gratis</p>
                    <p>Studierabat (studiekort forevises): 105 kr. pr. person</p>
                    <p>Fri entré til foyer, café, patio og butik.</p>
                </div>
            </div>
        </section>

        <section>
            <a class="hr-footer"></a>
            <div class="footer-grid-container-2">
                <div>
                    <h6 class="bold">FØLG OS</h6>
                    <p>
                        <a style="color: #b0790b" href="https://www.facebook.com/MuseumRagnarock" target="blank">Facebook</a>
                        <a style="color: #b0790b" href="https://www.instagram.com/museumragnarock/" target="blank">Instagram</a>
                        <a style="color: #b0790b" href="https://www.linkedin.com/company/ragnarock-museet-for-pop-rock-og-ungdomskultur/?originalSubdomain=dk" target="blank">LinkedIn</a>
                    </p>
                </div>
                <div>
                    <h6><a href="/Cookies" style="color: #b0790b">Cookiepolitik</a></h6>
                </div>
                <div>
                    <h6 class="bold">RAGNAROCK er en del af museumsorganisationen ROMU</h6>
                    <p><a href="https://romu.dk/" style="color: #b0790b" target="blank">Læs mere om ROMU her</a></p>
                </div>
                <div>
                    <a href="https://www.findsmiley.dk/740317" style="color: #b0790b" target="blank"><img src="https://museumragnarock.dk/wp-content/uploads/2016/09/Banner_gul_99x32.gif" alt="footer smiley" /></a>
                </div>
            </div>

        </section>
    </footer>

    <!--Hvilken funktion har nedenstående?-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
