<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kojg_Ragnarock_Guide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kojg_Ragnarock_Guide.styles.css" asp-append-version="true" />

    <link rel="icon" type="image/x-icon" href="~/favicon.ico">


</head>
<body>
    <header>
        <nav class="NavBar42">
            <ul>
                <li><a class="active" asp-page="/Index">Kojg Ragnarock Guide Home</a></li>
                <!--<li><a class="active" asp-page="/Index">Home</a></li>-->
                <li class="dropDown">
                    <a class="dropBtn">Udstillinger</a>
                    <div class="dropdown-content">
                        <a class="active" asp-page="/Exhibitions/Etage2">Etage 2</a>
                        <a class="active" asp-page="/Exhibitions/Etage3">Etage 3</a>
                    </div>
                </li>
                <li class="dropDown">
                    <partial name="_LoginPartial"/>
                </li>
                </ul>
        </nav>
    </header>

    <!--Hvilken funktion har nedenstående?-->
        <main role="main" class="pb-3">

            @RenderBody()

         </main>

    <footer>
        <section>
        <div class="footer-grid-container">
            <div>
                <p class="boldNStrong">ADRESSE</p>
                <p>RAGNAROCK</p>
                <p>Museet for pop, rock og ungdomskultur</p>
                <p>Rabalderstræde 16, Musicon </p>
                <p>4000 Roskilde</p>
                <p>CVR. NR: 15570210</p>
            </div>
            <div>
                <p class="boldNStrong">KONTAKT OS</p>
                <p>Administration:</p>
                <p>+45 4631 6854</p>
                <p>ragnarock@romu.dk</p>
                <p>Man-fre: 09:00-15:00</p>
                <p><a></a href="https://museumragnarock.dk/om-ragnarock/"> Find medarbejdere her</p>
                </div>
			<div>
                <p class="boldNStrong">ÅBNINGSTIDER</p>
                <p class="bold">2/1/2024 – 30/6/2024:</p>
                <p>Tirsdag – søndag, samt helligdage: 10.00-17.00</p>
                <p>Onsdag: 10.00-20.00</p>
                <p>Tillige mandage i uge 7, 8 og 13</p>
                <p class="bold">1/7/2024 – 11/8/2024</p>
                <p>Mandag – søndag, samt helligdage: 10.00-17.00</p>
                <p>Onsdag: 10.00-20.00</p>
                <p class="bold">12/8/2024 – 22/12/2024</p>
                <p>Tirsdag – søndag, samt helligdage: 10.00-17.00</p>
                <p>Onsdag: 10.00-20.00 </p>
                <p>Tillige mandag i uge 42</p>
                </div>
            <div
                ><p class="boldNStrong">ENTRE</p>
                <p>Voksne: 120 kr.</p>
                <p>Grupperabat(min/15 pers.): 105 kr. pr. pers.</p>
                <p>0-17 år : Gratis</p>
                <p>Studierabat (studiekort forevises): 105 kr. pr. person</p>
                <p>Fri entré til foyer, café, patio og butik.</p>
            </div>
        </div>
        </section>

        <section>
            <a class="hr-footer"></a>
            <div class="footer-grid-container-2">
                <div>
                    <p class="bold">FØLG OS</p>
                    <p>
                        <a href="https://www.facebook.com/MuseumRagnarock" target="blank">Facebook</a>
                        <a href="https://www.instagram.com/museumragnarock/" target="blank">Instagram</a>
                        <a href="https://www.linkedin.com/company/ragnarock-museet-for-pop-rock-og-ungdomskultur/?originalSubdomain=dk" target="blank">LinkedIn</a>
                    </p>
                </div>
                <div>
                    <p class="cookiePolitik"><a href="https://museumragnarock.dk/privatlivspolitik/" target="blank">Cookiepolitik</a></p>
                </div>
                <div>
                    <p>RAGNAROCK er en del af museumsorganisationen ROMU</p>
                    <p><a href="https://romu.dk/" target="blank">Læs mere om ROMU her</a></p>
                </div>
                <div>
                    <a href="https://www.findsmiley.dk/740317" target="blank"><img src="https://museumragnarock.dk/wp-content/uploads/2016/09/Banner_gul_99x32.gif" alt="footer smiley"/></a>
                </div>
            </div>

        </section>
        <section>
            <div class="frontPageTopButtonContainer">
                <div class="center">
                    <button class="frontPageTopButton" href=""><span>Til toppen</span></button>
                </div>
            </div>
        </section>
	</footer>

    

    <!--Hvilken funktion har nedenstående?-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
