@using Kojg_Ragnarock_Guide.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("client"))
    {
        <a class="dropBtn">User</a>
        <div class="dropdown-content">
            <a asp-area="Identity" asp-page="/Account/Manage/Index">Opdater profil</a>
            <a asp-area="Identity" asp-page="/Account/LogOut">Log af</a>
        </div>
    }
    else if (User.IsInRole("admin"))
    {
        <a class="dropBtn">Admin</a>
        <div class="dropdown-content">
            <a asp-area="" asp-page="/Admin/CreateExhibition">Opret ny udstilling</a>
            <a asp-area="" asp-page="/Admin/EditExhibition">Rediger/slet udstilling</a>
            <a asp-area="Identity" asp-page="/Account/LogOut">Log af</a>
        </div>
    }
}
else
{
    <a class="dropBtn">Login/Register</a>
    <div class="dropdown-content">
        <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
}
