@using Kojg_Ragnarock_Guide.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("client"))
    {
            <a class="dropBtn">User</a>
            <div class="dropdown-content">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profil</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/LogOut">Log af</a>
            </div>
    }
    else if (User.IsInRole("admin"))
    {
            <a class="dropBtn">Admin</a>
            <div class="dropdown-content">
                <a class="dropdown-item" asp-area="" asp-page="/Admin/CreateExhibition">Opret ny udstilling</a>
                <a class="dropdown-item" asp-area="" asp-page="/Admin/EditExhibition">Rediger/slet udstilling</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/LogOut">Log af</a>
            </div>
    }
}
else
{
        <a class="dropBtn">Login/Register</a>
        <div class="dropdown-content">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
}
