@page
@model Kojg_Ragnarock_Guide.Pages.Exhibitions.Etage2Model
@{
}
<div class="container">

<h1>Etage 2</h1>
<div class="udstilling-grid">
    <div class="udstilling">
        <ul class="list-group list-group-flush">
        @foreach (var exhibition in Model.Exhibitions)
        {
            if (exhibition.Floor == "2")
            {
                    <li class="list-group-item">
                    @exhibition.Id
                        <img src="/exhibitionPhotos/@exhibition.PhotoFileName" width="50" alt="Du har ikke tilføjet et billede" />
                    @exhibition.Title
                        <audio controls>
                            <source src="/exhibitionAudios/@exhibition.AudioFileName" type="audio/ogg">
                        </audio
                    
                    </li>
            }
        }
        </ul>
    </div>
    <div class="udstilling">
        <td><img src="/Plantegninger/Etage2.jpg" width="280" height="400" alt="Du har ikke tilføjet et billed" /></td>
    </div>
</div>
</div>
</div>