@page
@using System.Runtime.InteropServices
@using Microsoft.EntityFrameworkCore.Infrastructure.Internal
@model Kojg_Ragnarock_Guide.Pages.Exhibitions.IndexModel
@{
}

@*Må ikke slette denne div*@
<div class="container">

    <h2 class="text-center mb-5">Etager</h2>

    <button type="button" class="btn btn-primary btn-lg" asp-area="" asp-page="\Exhibitions\Etage2">Etage 2</button>
    <button type="button" class="btn btn-secondary btn-lg" asp-area="" asp-page="\Exhibitions\Etage3">Etage 3</button>
</div>



