@page
@model Kojg_Ragnarock_Guide.Pages.Exhibitions.IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>

<table Class="table">
    <tr>
        <th>Exhibidition ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Floor</th>
        <th>Photo</th>
        <th>Audio</th>
    </tr>
    @foreach (Models.Exhibition exhibitions in Model.Exhibitions)
    {
       <tr>
            <td>@exhibitions.ExhibitionId</td>
            <td>@exhibitions.Title</td>
            <td>@exhibitions.Floor</td>
            <td>@exhibitions.Description</td>
            <td><img scr="/exhibitions/@exhibitions.PhotoFile" width="200" /></td>
            
       </tr> 
    }
</table>