@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Nægtet adgang";
}
<div class="LogRegContainer">

<header>
    <div class="alert alert-danger" role="alert">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Du har ingen adgang</p>
    </div>
</header>
</div>
