.adminCreateExhibition {
    position: absolute;
    top: 0.5rem;
    right: 15rem;
}

.adminFilterByFloor {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.adminEpisodeFloorNr2 {
    place-self: center;
    color: paleturquoise;
}

.adminEpisodeFloorNr3 {
    place-self: center;
    color: orchid;
}

.adminAccordion {
    position: relative;
    top: -0.2rem;
}

.adminButtonForPlantegning-1 {
    position: absolute;
    top: 1.5rem;
    left: 12.4rem;
    width: 4.8rem;
    height: 4.8rem;
}

.adminButtonForPlantegning-2 {
    position: absolute;
    top: 8.4rem;
    left: 19.9rem;
    width: 4.8rem;
    height: 4.8rem;
}

.adminButtonForPlantegning-3 {
    position: absolute;
    top: 15.5rem;
    left: 14.9rem;
    width: 4.8rem;
    height: 4.8rem;
}

.adminButtonForPlantegning-4 {
    position: absolute;
    top: 30.2rem;
    left: 19.9rem;
    width: 4.8rem;
    height: 4.8rem;
}

.adminButtonForPlantegning-5 {
    position: absolute;
    top: 31.5rem;
    left: 5.3rem;
    width: 4.8rem;
    height: 4.8rem;
}

.adminButtonForPlantegning-6 {
    position: absolute;
    top: 22rem;
    left: 7rem;
    width: 4.8rem;
    height: 4.8rem;
}

.adminButtonForPlantegning-7 {
    position: absolute;
    top: 1.5rem;
    right: 12.4rem;
    width: 4.8rem;
    height: 4.8rem;
}

.adminButtonForPlantegning-8 {
    position: absolute;
    top: 9rem;
    right: 19.5rem;
    width: 4.8rem;
    height: 4.8rem;
}

.adminButtonForPlantegning-9 {
    position: absolute;
    top: 16.2rem;
    right: 9.6rem;
    width: 4.8rem;
    height: 4.8rem;
}

.adminButtonForPlantegning-10 {
    position: absolute;
    top: 30.4rem;
    right: 4.9rem;
    width: 4.8rem;
    height: 4.8rem;
}

.adminButtonForPlantegning-11 {
    position: absolute;
    top: 25.7rem;
    right: 19.5rem;
    width: 4.8rem;
    height: 4.8rem;
}