.adminCreateExhibition {
    position: absolute;
    top: 0.5rem;
    right: 15rem;
}

.adminFilterByFloor {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.adminEpisodeFloorNr2 {
    place-self: center;
    color: paleturquoise;
}

.adminEpisodeFloorNr3 {
    place-self: center;
    color: orchid;
}

.adminAccordion {
    position: relative;
    top: -0.2rem;
}