.cookiepolitikContainer {
    background-color: #001035;
}

.cookiepolitikSection {
    text-align: left;
    color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.cookiepolitikSection h1 {
    text-align: center;
}