.cookiepolitikContainer {
    background-color: #101624;
}

.cookiepolitikSection {
    text-align: left;
    color: white;
    margin: auto;
    width: 50%;
    padding: 0.8rem;
}

.cookiepolitikSection h1 {
    text-align: center;
}