/*Footer start*/
footer {
    background-color: #000B25;
    color: white;
    /*top, right, bottom, left*/
    padding: 2rem 1rem 2rem 1rem;
    border-top: 0.1rem solid black;
}

.boldAndStrong {
    font-weight: bold;
    font-size: 1rem;
}

.bold {
    font-weight: bold;
}

.footer-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

    .footer-grid-container div {
        line-height: 1;
    }

.hr-footer {
    height: 0.16rem;
    background-color: white;
    border-color: white;
    display: block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer-grid-container-2 {
    display: grid;
    text-align: center;
    margin: 1.5rem 3rem 1.5rem 3rem;
    grid-template-columns: repeat(4, 1fr);
}

    .footer-grid-container-2 div {
        line-height: 1;
    }

.cookiePolitik {
    font-size: 1.5rem;
}

.footer-grid-container-child-Romu {
    min-width: max-content;
}
/*Footer end*/
/*Back To Top Button start*/
.backToTopContainer {
    z-index: 101;
    position: fixed;
    right: 0.8rem;
    bottom: 3.3rem;
}

.backToTopButton {
    background-color: #c99e67;
    border: solid black;
    border-width: 0.01rem;
    color: white;
    text-align: center;
    font-size: 0.7rem;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s;
    cursor: pointer;
}

    .backToTopButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        color: white;
    }

        .backToTopButton span::after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -1.2rem;
            transition: 0.5s;
        }

    .backToTopButton:hover span {
        padding-right: 1.2rem;
    }

        .backToTopButton:hover span:after {
            opacity: 1;
            right: 0;
        }
/*Back To Top Button end*/
