.frontPageCarouselItem {
    height: 80vh;
}

.frontPageCarouselImage {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
}

.frontPageArticle {
    margin-bottom: -0.9rem;
}

.frontPageMainHeading {
    position: absolute;
    top: 22rem;
    left: 7rem;
    color: white;
    font-family: Verdana;
}

.frontPage-H1 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

.hr-frontPage {
    height: 0.1rem;
    width: 80%;
    background-color: #c99e67;
    display: block;
    position: relative;
    right: -0.1rem;
}

.frontPage-H2 {
    font-size: 1.2rem;
    position: relative;
    right: -0.1rem;
}

    .frontPage-H3 h3 {
        color: white;
        position: relative;
        top: 0.1rem;
        right: -0.1rem;
        font-size: 50rem;
        text-decoration: none;
        font-size: 0.8rem;
    }
.frontPage-H3 h3:hover {
    color: #c99e67;
    font-size: 0.9rem;
}
