.frontPageCarouselItem {
    height: 90vh;
}

.frontPageCarouselImage {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.ragnarockIcon {
    width: 15rem;
    height: 10rem;

}