.userGuideContainer {
    background-color: #001035;
}
.userGuideSection {
    text-align: left;
    color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
}
    .userGuideSection h1 {
        text-align: center;
}
