
.navBar42 {
    background-color: #f9f9f9;
    border: 1px solid;
    border-bottom: 0.1rem solid;
}

.navParentGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
}

.navChildGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.navChildContent a {
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.navChildContent a:hover {
    color: #b0790b;
}

.navbarText {
    position: relative;
    top: 0.4rem;
}

.ragnarockIcon {
    object-fit: cover;
    max-width: 8rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 8rem;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 1.2rem;
    }


.dropDown:hover .dropdown-content {
    display: block;
}

li.dropDown {
    display: inline-block;
}
