.navBar42 {
    background-color: #f9f9f9;
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
    margin-bottom: 0.2rem;
    max-height: 5.5rem;
}

.navParentGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
}

.navChildGrid {
    min-width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.navChildContent a {
    color: black;
    padding: 0.9rem;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.navChildContent a:hover {
    color: #c99e67;
}

.navbarText {
    position: relative;
    top: 0.4rem;
}


.ragnarockIcon {
    width: 8rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 8rem;
    min-width: max-content;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0.8rem 0.8rem;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.1rem;
}


.dropDown:hover .dropdown-content {
    display: block;
}

li.dropDown {
    display: inline-block;
}