html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: src="/FrontPageImages/2.jpg";
}

.scroll-parent {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll-child {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.c-item {
    height: 90vh;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}



/*THIS IS FRONTPAGE STYLING*/
/*FOOTER*/
.testimonial-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
}
/**/
.testimonial {
    grid-column: span 2;
    grid-row-start: 4;
    padding: 2rem;
    border-radius: 0.5rem;
    place-self: center;
}

    .testimonial:nth-child(1) {
        grid-row-start: 1;
        grid-column: span 3;
    }

    .testimonial:nth-child(2) {
        grid-row-start: 1;
        grid-column: span 3;
    }

    .testimonial:nth-child(3) {
        grid-row-start: 3;
        grid-column: span 6;
    }

    .testimonial:nth-child(4) {
        grid-column-start: 2;
    }

    .testimonial:nth-child(6) {
        grid-column-start: 5;
    }






/*UDSTILLING PAGE STYLING. Etage2 & Etage3 & AdminPageEpisode*/
.udstilling-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.udstilling {
    padding: 2rem;
}

.Episode {
    background-color: cadetblue;
    padding: 20px;
}

.EpisodeIdTitle {
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.EpisodeId {
    font-size: 1.5em;
}
.EpisodeTitle {
    font-size: 1.5em;
    place-self: center;
}
.EpisodeTop-Line {
    margin-top: -10px;
}
.EpisodePicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 350px;
    height: 350px;
}
.EpisodeDescription {
    text-align: left;
}
audio {
    width: 100%;
}