html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.c-item {
    height: 90vh;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

/*UDSTILLING PAGE STYLING. Etage2 & Etage3 & AdminPageEpisode*/
.EtageNummer {
    font-family: fantasy;
}
.udstilling-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    padding: 1rem;
    gap: 1rem;
}

.planedTegning {
    position: sticky;
}
.EtageNummer {
    grid-column: span 2;
    place-self: center;
}
.udstilling {
    grid-row: span 2;
}

.Episode {
    background-color: #282d32;
    color: white;
    padding: 20px;
}

.PlayButton {
    width: 100%;
}
.EpisodeIdTitle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.EpisodeId {
    font-size: 1.5em;
}
.EpisodeTitle {
    font-size: 1.5em;
    place-self: center;
}
.EpisodeTop-Line {
    margin-top: -10px;
}
.EpisodePicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 350px;
    height: 350px;
}
.EpisodeDescription {
    text-align: left;
}
.audioStuff {
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 60px 1fr 1fr;
    grid-template-rows: 20px 53px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: #282d32;
    color: white;
    padding: 5px;
    width: 100%;
}
.bottom-player-texty {
    grid-column-start: 2;
}
.bottom-player-pic {
    grid-row-start: 2;
    place-self: center;
    position: relative;
    top: -10px;
    left: -2px;
}

.bottom-audio {
    grid-row-start: 2;
    grid-column: span 2;
    width: 100%;
    object-fit: cover;
}
/*Udstilling End*/
/*NAVBAR FRONT*/
.NavBar42 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282d32;
}

.NavBar42 a, dropBtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.NavBar42 li {
    float: left;
    cursor: pointer;
}

.NavBar42 li:hover, .dropDown:hover {
    background-color: red;
}
li.dropDown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropDown:hover .dropdown-content {
    display: block;
}
/*NAVBAR FRONT END*/

/*FOOTER BEGIN*/
footer {
    background-color: #282d32;
    color: white;
    /*top, right, bottom, left*/
    padding: 35px 80px 35px 15px;

}

.boldNStrong {
    font-weight: bold;
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.footer-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
}
.footer-grid-container div {
    line-height: 1;
}

.hr-footer {
    height: 2px;
    background-color: white;
    border-color: white;
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-grid-container-2 {
    display:grid;
    text-align: center;
    margin: 25px 50px 25px 50px;
    grid-template-columns: auto auto auto auto;
    gap: 75px;
}
.footer-grid-container-2 div {
    line-height: 1;
}

.cookiePolitik {
    color: orange;
    font-size: 20px;
}
/*FOOTER END*/

/*POST FOOTER BEGIN*/
.frontPageTopButtonContainer {
    height: 150px;
    position: relative;
    border: none;
}

.center {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.frontPageTopButton {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.frontPageTopButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.frontPageTopButton span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.frontPageTopButton:hover span {
    padding-right: 25px;
}

.frontPageTopButton:hover span:after {
    opacity: 1;
    right: 0;
}
/*POST FOOTER END*/